spring:
  datasource:
    url: jdbc:mysql://localhost:3306/azur-lane
    username: ${DB_USERNAME}
    password: ${DB_PASSWD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  application:
    name: azur-lane-statistics

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

  server:
    port: 8080
    compression:
      enabled: true
      mime-types: text/html,text/xml,text/plain,text/css, application/javascript, application/json
      min-response-size: 1024
    max-http-header-size: 5MB
    tomcat.max-threads: 418

logging:
  level:
    com.midie2k.azur_lane_statistics: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"
