.rarity-common { background-color: rgb(208, 208, 208); }
.rarity-rare { background-color: deepskyblue; }
.rarity-elite { background-color: rgb(182, 11, 182); }
.rarity-super_rare { background-color: gold; }
.rarity-ultra_rare { background-color: red; }

.skilltype-offensive{background-color: rgb(246, 102, 102);}
.skilltype-defensive{background-color: lightskyblue;}
.skilltype-support{background-color: yellow;}