.rarity-common { background-color: rgb(208, 208, 208); }
.rarity-rare { background-color: deepskyblue; }
.rarity-elite { background-color: rgb(182, 11, 182); }
.rarity-super_rare { background-color: gold; }
.rarity-ultra_rare { background-color: red; }

.skilltype-offensive{background-color: rgb(246, 102, 102);}
.skilltype-defensive{background-color: lightskyblue;}
.skilltype-support{background-color: yellow;}

.IJN{background-color: rgb(255, 0, 170);}
.USS{background-color: rgb(0, 229, 255);}
.HMS{background-color: rgb(111, 0, 255);}
.KMS{background-color: rgb(255, 0, 0);}
.ROCN{background-color: rgb(247, 0, 255);}
.SN{background-color: rgb(217, 217, 217);}
.FFNF{background-color: rgb(255, 217, 0);}
.MNF{background-color: rgb(255, 85, 0);}
.RN{background-color: rgb(13, 255, 0);}
.HNLMS{background-color: rgb(0, 255, 217);}